html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

/*Списки без марок*/
.submenu,
.site-nav,
.user-nav,
.slides-switches,
.links-list,
.social-list,
.fat-list,
.modal-list,
.breadcrumbs {
  list-style: none;
}
  /*SITE-WRAPPER*/
.site-wrapper{
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/Group1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}


.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/Group2.png");
}

.site-wrapper::after {
  background-image: url("../img/Group3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;

  padding-top: 285px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/Group1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/Group2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/Group3.png");
}


#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/*===========================================================================================================================================================================================================================================
HEADER*/

.main-navigation {
  display: flex;

  line-height: 18px;
  color: #ffffff;
}


.logo-gllacy {
  width: 154px;
  height: 64px;
  padding: 9px 0px;
  margin-left: -20px;
}

.site-nav{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 14px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}


.user-nav {
  display: flex;
  justify-content: flex-end;
  width: 267px;
  margin-left: auto;
  padding: 0;
}

.site-nav a,
.user-nav a {
  display: block;
  padding: 8px 14px;

  vertical-align: middle;
}

.user-nav a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.user-search {
  min-width: 32px;
}

.login-link {
  min-width: 92px;
  min-height: 32px;
}

.basket-link {
  min-width: 100px;
  min-height: 32px;

}


.user-nav .user-search{
  width: 32px;
  height: 32px;
  margin-right: 9px;
}
.user-nav .loupe-search {
  width: 32px;
  height: 32px;
  background-image: url("../img/loupe-search.png");
  background-repeat: no-repeat;
}

.user-nav .login-link {
  margin-right: 11px;
}
.user-nav .login-link-a {
  position: relative;
  padding-left: 45px;


  background-color: #9db1a5;
  border-radius: 30px;
}

.login-link-a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 18px;

  width: 22px;
  height: 19px;

  background-image: url("../img/entrance.png");
  background-repeat: no-repeat;
}

.user-nav .basket {
  position: relative;
  padding-left: 45px;

  background-color: #9db1a5;
  border-radius: 30px;
}

.user-nav .basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}


.time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 800;
}

/*МЭЙН============================================================================================================================================================*/


.article-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.free {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 230px;
  padding: 18px;
  border-radius: 12px;
}

.want-it {
  margin-bottom: 5px;
  align-self: flex-end;
}

.raspberry {
  margin-right: 26px;

  background-color: #851127;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-color: #3e2419;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
}

.free-text,
.free p {
  margin: 0;
  padding: 0;
}

.free-text {
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.free p {
  margin-bottom:auto;


  font-size: 17px;
  line-height: 22px;
  font-weight: bold;
}


/*Catalog Hits============================================================================================================================================================*/

.hits {
  display: flex;
  justify-content: space-between;
}

.hits-item {
  position: relative;
  width: 267px;
}

.icon-hit {
  position: absolute;
  top: -10px;
  left: 0px;

  min-width: 61px;
  min-height: 61px;

  background-image: url("../img/icon-hit.png");
  background-repeat: no-repeat;
}

.hits,
.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hit-item {
  text-align: center;
}

.item-picture {
  width: auto;
  min-height: 267px;
  border-radius: 50%;
}

.price-bold {
  font-size: 14px;
  font-size: 45px;
  font-weight: bold;
}

.hit-item-cost {
  margin-top: -50px;
  margin-bottom: 33px;
}

.catalog-hits {
  margin-bottom: 40px;
}

/*About-us============================================================================================================================================================*/

.about-us h1 {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500px;
}

.about-us {
  margin-bottom: 40px;
  padding: 27px 21px;

  color: #323232;

  background-color: #eee1c6;
  background-image: url("../img/wafle.png");
  background-repeat: repeat;
  border-radius: 12px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature-1 {
  position: relative;
  padding-left: 56px;
  margin-right: 26px;

  order: 1;
}
.feature-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  min-width: 49px;
  min-height: 49px;

  background-image: url("../img/little-ice-cream.png");
  background-repeat: no-repeat;

}

.feature-2 {
  position: relative;
  padding-left: 56px;
  margin-right: 26px;

  order: 3;
}

.feature-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  min-width: 49px;
  min-height: 49px;

  background-image: url("../img/leaf.png");
  background-repeat: no-repeat;
}

.feature-3 {
  position: relative;
  padding-left: 60px;
  order: 2;
}

.feature-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  min-width: 49px;
  min-height: 49px;

  background-image: url("../img/cow.png");

}

.feature-4 {
  position: relative;
  padding-left: 60px;

  order: 4;
}

.feature-4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  min-width: 49px;
  min-height: 49px;

  background-image: url("../img/thermometer.png");
  background-repeat: no-repeat;
}


.feature-1,
.feature-2 {
  padding-left: 57px;
}

.feature-1::before {
  content: "";

}

.point {
  width: 475px;
}

/*10Receipts & Subscription============================================================================================================================================================*/

.tenreceipts-subscription-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tenreceipts {
  display: flex;
  flex-direction: column;

  width: 560px;
  height: 220px;
  padding: 24px 20px;
  margin-right: 26px;

  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.tenreceipts-text {
  margin-bottom: 8px;

  color: #323232;
  font-weight: 500;
}

.tenreceipts-a {
  width: 280px;

  color: #323232;
  font-size: 24px;
  line-height: 30px;
}


.sub-wrap {
  border-radius: 10px;
  overflow: hidden;
}

.subscription {
  display: flex;
  flex-wrap: wrap;

  width: 560px;
  min-height: 210px;
  padding: 30px 21px;

  background-color: #f8f7f4;
  border: 5px solid transparent;
  border-image: 10 repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 10px, #92cdff 10px, #92cdff 20px,#f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
  border-radius: 20px;
}

.subscription p {
  color: #5a5a5a;
}

.email-subscription {
  width: 366px;
  padding: 10px 15px;
  margin-right: 11px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  color: #999999;
  line-height: 24px;
}

.email-subscription:hover {
  border: 2px solid #d3d3d2;
}

.email-subscription:active {
  border: 2px solid #8fbdec;
}

.email-subscription::placeholder {
  color: #999999;
}

.submit-sub {
  width: 130px;

}


/*MAP &&&&&   Address============================================================================================================================================================*/
.map {
  position: relative;
}


.address {
  position: absolute;
  top: 62px;
  left: 846px;

  width: 302px;
  min-height: 305px;
  padding: 30px 25px;

  color: #323232;

  background-color: #fffefe;
  border-radius: 15px;
}

.address p {
  font-size: 14px;
  line-height: 20px;
}
.address .bold {
  font-size: 18px;
  line-height: 22px;
}

/*Футер*/

.main-footer {
  display: flex;
  padding: 36px 0;
}

.footer-social {
  width: 186px;
  margin: 0;
  margin-right: 26px;
}

.shadow {
  border-radius: 50%;
   box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
   opacity: 0.502;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;

  width: 186px;
  justify-content: space-between;
}

.footer-links {
  width: 560px;
  margin: 0;
  padding-left: 107px;

  vertical-align: middle;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.links-item-1 {
  position: relative;
  padding-left: 22px;

  order: 1;
}

.links-item-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 13px;

  background-image: url("../img/Heart.png");
  background-repeat: no-repeat;

}

.links-item-2{
  padding-left: 22px;
 order: 3;
}

.links-item-3 {
  order: 2;
}

.links-item-4 {
  order: 4;
}

.links-list li {
  width: 210px;

  font-size: 13px;
  line-height: 18px;
}

.links-list li:first-child {
  font-weight: bold;
}


.footer-copyright{
  display: flex;
  flex-direction: column;

  width: 267px;
  margin: 0;
  margin-left: auto;
}


.copyright-text {
  font-size: 12px;
  line-height: 18px;
}
/*КОНЕЦ   ФУТЕРА====================================================================================================================================================================================================================================*/





.search-icon {
  font-size: 14px;
  line-height: 24px;
}

.user-login,
.user-password {
  font-size: 14px;
  line-height: 24px;
}

/*РАЗОБРАЛСЯ С КНПОКОЙ, БЫЛ УКАЗАН У ССЫЛКИ ТИП "КНОПКА"*/
.button {
  display: inline-block;
  vertical-align: top;
  padding: 8px 23px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  white-space: normal;

  background-color: #f26843;
  background: -webkit-linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  color: #fceeec;
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}



/*Общие стили для всех модальных окон*/

.modal {
  color: #999999;

  background-color: #f8f7f4;
  border-radius: 12px;
}

.modal h3 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal input {
  padding: 10px 15px;

  font-size: 14px;
  line-height: 24px;
}

/*Модальное окно поиска*/

.modal.search {
  width: 341px;
  height: auto;
  padding: 20px 15px;
}

.search-icon {
  width: 311px;
}

/*Модальное окно входа*/

.modal.login {
  width: 277px;
  min-height: 244px;
  padding: 20px 20px;
}

.modal-list {
  margin: 0;
  padding: 0;
}

.login-user,
.user-password {
  width: 240px;
}

.login a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}
/*Модальное окно обратной связи*/

.modal.feedback {
  position: relative;
  width: 477px;
  min-height: 442px;
  padding: 15px 25px;
}

.user-name,
.user-email {
  width: 267px;
}

.feedback textarea {
  width: 428px;
  min-height: 155px;
  padding: 10px 15px;

  color: #323232;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 15px;
  left: 443px;

  width: 18px;
  height: 17px;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
}

/*Стили для состояний инпутов*/
.modal input {
  color: #323232;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.modal input:hover {
  border: 2px solid #d3d3d2;
}

.modal input:active {
  border: 2px solid #8fbdec;
}

.modal::placeholder {
  color: #999999;
}

.feedback textarea:hover {
  border: 2px solid #d3d3d2;
}

.feedback textarea:active {
  border: 2px solid #8fbdec;
}

/*---Каталог---*/
.inner-page {
  color: #ffffff;
  background-color: #95aa9e;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  font-size: 14px;
  line-height: 16px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-size: 35px;
  line-height: 41px;
}

.filters {
  width: 860px;
}


.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.sort {
  width: 194px;
  margin-right: 15px;
}

.price-range {
  width: 220px;
    margin-right: 15px;
}

.fat-container {
  width: 415px;
}

.filter-title {
  font-size: 14px;
  line-height: 16px;
}

.rating-sort:hover {
  color: #323232;
}

.fat-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 415px;
  min-height: 36px;
  margin: 0;
  padding: 0;
  background-image: url("../img/fat-backgorund.png");
  background-repeat: no-repeat;
}

.fat-list li {
  font-size: 16px;
  line-height: 18px;
}

.fillers-container {
  margin-right: 14px;
}

.fillers-legend {
  margin-bottom: 6px;
}

.fillers-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 702px;
  min-height: 36px;


  background-image: url("../img/fillers-background.png");
  background-repeat: no-repeat;
  margin-bottom: 40px;
}


.catalog {
  width: 1146px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}


.catalog-item {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.paggination-list {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.paggination-list a  {
  text-decoration: none;
}
/*Фильтры*/
.sort-background {
  width: 194px;
  height: 37px;

  background-color: rgb(248, 247, 244);
  opacity: 0.2;
}


.fillers-list {
  list-style: none;
}

.btn-filter {
  width: 148px;
  height: 41px;

  color: #ffffff;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.188);
}

.catalog-list {
  list-style: none;
}

/*Футер*/
.inner-page .main-footer {
  border-top: 1px solid #a9bbb1;
  margin-top: 30px;
}
