body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
}

.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0;
  clip:  (0,0,0,0);
  overflow: hidden;
}

a {
  color: #ffffff;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

/*Списки без марок*/
.submenu,
.site-nav,
.user-nav,
.slides-switches,
.links-list,
.social-list,
.fat-list,
.modal-list,
.breadcrumbs {
  list-style: none;
}

  /*HEADER*/

.main-navigation {

  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}



.time {
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

/*МЭЙН*/
.free {
  width: 560px;
  min-height: 229px;
  padding: 15px 20px 23px;
  box-sizing: border-box;
  border-radius: 15px;
}

.raspberry {
  background-image: url("../img/index/raspberry.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.chocolate {
  background-image: url("../img/index/chocolate.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.free-text {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.free p {
  font-size: 18px;
  line-height: 22px;
}

.hits,
.features {
  list-style: none;
}

.hit-item {
  text-align: center;
}

.item-picture {
  border-radius: 50%;
}

.price-bold {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.about-us h1 {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.about-us {
  border-radius: 15px;
  background-image: url("../img/index/wafer.jpg");
  background-repeat: repeat;
  background-position: cover;
}
.point {
    color: #323232;
}

.tenreceipts {
  width: 560px;
  height: 220px;

  background-image: url("../img/index/strawberry.jpg");
  border-radius: 20px;
}

.tenreceipts-text {
  color: #323232;
}

.tenreceipts-a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.subscription {
  width: 550px;
  height: 210px;

  background-image: url("../img/index/subscription-background.png");
  background-repeat: no-repeat;
  border: 5px solid black;
  border-radius: 20px;
}

.subscription p {
  color: #5a5a5a;
}

.email-subscription {
  color: #999999;
  line-height: 24px;
}

.address {
  width: 302px;
  height: 305px;

  background-image: url("../img/index/addres-background.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.address p {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}
.address .bold {
  color: #323232;
  font-size: 18px;
  line-height: 22px;
}

/*Футер*/
.links-list li {
  font-size: 13px;
  line-height: 18px;
}

.links-list li:first-child {
  font-weight: bold;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
}

.search-icon {
  font-size: 14px;
  line-height: 24px;
}

.user-login,
.user-password {
  font-size: 14px;
  line-height: 24px;
}

/*РАЗОБРАЛСЯ С КНПОКОЙ, БЫЛ УКАЗАН У ССЫЛКИ ТИП "КНОПКА"*/


.button {
  display: inline-block;
  vertical-align: top;
  padding: 8px 23px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  white-space: normal;

  background-color: #f26843;
  background: -webkit-linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
}



/*Общие стили для всех модальных окон*/

.modal {
  color: #999999;

  background-color: #ffffff;
  background-image: url("../img/index/modal-background.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h3 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

/*Модальное окно входа*/

.login a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

/*Стили для состояний инпутов*/
.modal input {
  color: #323232;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.modal input:hover {
  border: 2px solid #d3d3d2;
}

.modal input:active {
  border: 2px solid #8fbdec;
}

.modal::placeholder {
  color: #999999;
}

.feedback textarea {
  color: #323232;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.feedback textarea:hover {
  border: 2px solid #d3d3d2;
}

.feedback textarea:active {
  border: 2px solid #8fbdec;
}

/*Каталог*/

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.sort {
  width: 194px;
  height: 57px;
}

.filter-title {
  font-size: 14px;
  line-height: 16px;
}

.rating-sort:hover {
  color: #323232;
}

.fat-list li {
  font-size: 16px;
  line-height: 18px;
}

.paggination-list {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.paggination-list a  {
  text-decoration: none;
}
/*Фильтры*/
.sort-background {
  width: 194px;
  height: 37px;

  background-color: rgb(248, 247, 244);
  opacity: 0.2;
}

.fat-container {
  background-image: url("../img/catalog/fat-backgorund.png");
  background-repeat: no-repeat;
}

.fillers-list {
  list-style: none;
}

.fillers-container {
  background-image: url("../img/catalog/fillers-background.png");
  background-repeat: no-repeat;
}

.btn-filter {
  width: 148px;
  height: 41px;

  color: #ffffff;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.188);
}

.catalog-list {
  list-style: none;
}
